*:focus{
  -webkit-tap-highlight-color: transparent;
}

html{
  scroll-behavior: smooth;
}

:root {
  --light-bg: #f7f8fa;
  --primary: #d80029;
  --accent: #68ff68;
  --dark-text: #444444;
  --section-bg: #ffffff;
  --default-colors: #d80029;
  --dark-list: #555555;
  --quote-bg: #fff3e0;
}

.dark {
  --light-bg: #333333;
  --primary: #FFFBFB;
  --accent: #268a26;
  --dark-text: #f0f0f0;
  --section-bg: #7D7C7C;
  --default-colors: #b00021;
  --dark-list: #f0f0f0;
  --quote-bg: #ffe9a2;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--light-bg);
  color: var(--dark-text);
  transition: all 0.3s ease;
}

.dark-mode {
  background-color: #222;
  color: #f0f0f0;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.2rem;
  color: var(--primary);
}